################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/E-Commerce.API/FileContentIndex/c143412c-93c4-4e5d-928b-ff515636a239.vsidx
