################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/E-Commerce.API/FileContentIndex/c143412c-93c4-4e5d-928b-ff515636a239.vsidx
/.vs/E-Commerce.API/FileContentIndex/d39481f9-c256-4993-862a-16aae8f7f7fe.vsidx
